* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #005ADC;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background: #252527;
  color: white;
  height: 50px;
  font-family: sans-serif;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-title {
  width: 30%;
  text-align: left;
  padding-left: 1%;
  font-size: 30px;

}

.nav-menu {
  width: 70%;
}

.nav-menu ul {
  display: flex;
  justify-content: flex-end;
}

.nav-menu ul li {
  padding: 10px 20px;
  color: l;
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu ul li:hover {
  color: #fff;
  font-weight: bold;

}

.nav-menu li a:active {
  color: #0567F6;
}

/*style for responsive menu*/

@media screen and (max-width:1000px) {
  .nav {
    height: auto;
  }

  .nav .nav-title {
    text-align: left;
    width: 100%;
  }

  .nav .nav-menu {
    width: 100%;
  }

  .nav .nav-menu ul {
    justify-content: space-around;
  }

  .nav .nav-menu ul li {
    width: 20%;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
  }
}

#log-but-nav {
  color: #0567F6;
}

/* end for nav */

.assist {
  color: #0567F6;
}

.body {
  background: #005ADC;
}

.container-1 {
  display: flex;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-size: 50px;
  color: #FBFBFD;
  padding-top: 10%;
  padding-left: 10%;

}


h3 {
  padding: 2% 2%;
  font-size: 22px;

}

h2 {
  padding: 2% 2%;
}



.desc {
  font-size: 22px;
  color: #FBFBFD;
  padding-left: 10%;
  padding-top: 2%;
  word-spacing: 2px;
}

.box-1 {
  padding-right: 5%;
}

.desc1 {
  font-size: 16px;
  padding: 2% 2%;

}

.desc2 {
  font-size: 16px;
  padding: 2% 2%;
}


.container-2 {
  display: flex;
}

@media screen and (max-width: 600px) {
  .container-2 {
    flex-direction: column;
    margin-top: 10%;
  }
}

.container-2 div {
  padding: 10px;
  background-color: #FBFBFD;
  border-radius: 5px;
}


.box-3 {
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
  box-shadow: #252527 10px 10px;

}

.box-4 {
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
  box-shadow: #252527 10px 10px;
}

@media screen and (max-width: 600px) {
  .box-4 {
    margin-top: 5%;
  }

  .container-1 {
    flex-direction: column;
  }

  .box-2 {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
  }
}

button {
  background-color: #252527;
  color: #FBFBFD;
  padding: 10px;
  border-radius: 5px;
  border-color: #252527;
  text-decoration: none;

}

button a {
  display: block;
  text-decoration: none;
  color: #80e27e;
}

button:hover {
  background-color: rgb(57, 59, 71);
}

button:active {
  background-color: #005ADC;
  box-shadow: 0 3px #252527;
  transform: translateY(1px);
  transform: translateX(1px);
  border-color: #0567F6;
  padding: auto;
}

.button-contain {
  display: flex;
  justify-content: flex-end;
}

footer {
  background: #252527;
  color: #FBFBFD;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-top: 10%;

}

/* Style for custom selector */


h6 {
  font-size: 45px;
  color: #FBFBFD;
  padding-top: 4%;
  padding-left: 5%;
}

.cust-desc {
  color: #FBFBFD;
  padding-top: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  word-spacing: 2px
}

.cust-contain1 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cust-contain1 {
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  background-color: #FBFBFD;
  box-shadow: #252527 10px 10px;
  border-radius: 5px;
}

li a {
  display: block;
  text-decoration: none;
  color: #FBFBFD;
}

h7 {
  font-size: 45px;
  color: #FBFBFD;
  padding-top: 5%;
  padding-left: 5%;

}

.custom-select {
  padding-top: 5px
}

.custom-buttons button {
  padding-top: 1%;
  margin-left: 80%;
  margin-right: 1%;
  margin-top: 1%;
}

.subreset button:active {
  padding: 10px 10px;
  background-color: #252527;
}

.subsave {
  background-color: #4caf50;
}



select {
  background-color: #252527;
  padding: 5px 5px;
  color: #FBFBFD;
  border-radius: 5px 5px;
}

.compo-name {
  padding: 5px;
}

/* Account login  dashboard additions */

.logtitle {
  background-color: #252527;
  color: #FBFBFD;
  font-size: 30px;
  padding: 5px 5px;
  text-align: center;
}

#login-note {
  font-size: 20px;
  color: #FBFBFD;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  text-align: center;
}

.loginmain {
  display: flex;
  background-color: #FBFBFD;
  margin-top: 2%;
  margin-left: 35%;
  margin-bottom: 5%;
  margin-right: 35%;
  border-radius: 5px;
  box-shadow: #252527 5px 5px;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .loginmain {
    margin-left: 15%;
    margin-right: 15%;
  }

  #login-note {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
  }
}

.logincontent {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.logincontent input {

  background-color: #252527;
  color: #0567F6;
  padding: 5px 5px;
  border-radius: 5px 5px;
}

.userimg {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.login-buts {
  margin-top: 5%;
}

.control-label {
  margin-bottom: 2%;
  margin-top: 2%;
}

.log-out-but {
  margin-left: 20%;
  margin-top: 2%;
}

/*********** Style for dashboard ********/

.dashboard-note {
  color: #FBFBFD;
  font-size: 45px;
  margin-left: 20%;
  margin-top: 3%;
}

.dash-desc {
  font-size: 22px;
  margin-top: 1%;
}

.build-acc-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .build-acc-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.build-acc-container {
  background-color: #FBFBFD;
  border-radius: 5px 5px;
  margin-left: 5%;
  margin-right: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-bottom: 4%;
  box-shadow: #252527 5px 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

th {
  text-align: left;
  padding: 5px;
  color: #80e27e;

}

table,
td {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

  background-color: #252527;
  color: #FBFBFD;
  margin: 5px;
  border-radius: 5px 5px;
}


/* Style for the blog page */
#blog-title {
  font-size: 45px;
  color: #FBFBFD;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

#blog-desc {
  color: #FBFBFD;
  padding-left: 5%;

}

#blog-contain {
  display: flex;
  flex-direction: column;
}

#blog-post {
  padding: 10px;
  background-color: #FBFBFD;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: #252527 5px 5px;
  line-height: 1.5;
}

#blog-post-title {
  color: #FBFBFD;
  background-color: #252527;
  padding: 5px;
  border-radius: 5px 5px;
  margin-right: auto;
}

#blog-date {
  color: #80e27e;
  font-size: 75%;

}

/* Style for About page */

#about-head {
  font-size: 45px;
  color: #FBFBFD;
  margin-top: 3%;
  margin-left: 5%;
}

#about-desc {
  color: #FBFBFD;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 10%;
}

#about-contain {
  display: flex;
  flex-direction: column;
}


#FAQ-card {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #FBFBFD;
  box-shadow: #252527 5px 5px;
  border-radius: 5px 5px;
  color: #252527;
  background-color: #FBFBFD;
}

#contact-card {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #FBFBFD;
  box-shadow: #252527 5px 5px;
  border-radius: 5px 5px;
  color: #252527;
  background-color: #FBFBFD;
}

/* Style for automated */


.auto-head {
  color: #FBFBFD;
  font-size: 45px;
  margin-top: 3%;
  margin-left: 3%;
}

.auto-desc {
  color: #FBFBFD;
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.auto-contain {
  display: flex;
  flex-direction: column;
}

.auto-contain {
  background-color: #FBFBFD;
  border-radius: 5px 5px;
  box-shadow: #252527 5px 5px;
  padding: 2%;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 10%;
}

.section-title {
  color: #252527;
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 2%;
}

.sec-desc {
  padding-top: 1%;
}

.auto-next {
  margin-left: 80%;
  margin-right: 2%;
}

.sec {
  background-color: #252527;
  border-radius: 5px 5px;
  color: #FBFBFD;
  margin: 2%;
  padding: 2%;
}

.sec-label {
  color: #80e27e;
}