* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #005ADC;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background: #252527;
  color: white;
  height: 50px;
  font-family: sans-serif;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-title {
  width: 30%;
  text-align: left;
  padding-left: 1%;
  font-size: 30px;

}

.nav-menu {
  width: 70%;
}

.nav-menu ul {
  display: flex;
  justify-content: flex-end;
}

.nav-menu ul li {
  padding: 10px 20px;
  color: l;
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu ul li:hover {
  color: #fff;
  font-weight: bold;

}

.nav-menu ul li:active {
  color: #0567F6;
}

/*style for responsive menu*/

@media screen and (max-width:1000px) {
  .nav {
    height: auto;
  }

  .nav .nav-title {
    text-align: left;
    width: 100%;
  }

  .nav .nav-menu {
    width: 100%;
  }

  .nav .nav-menu ul {
    justify-content: space-around;
  }

  .nav .nav-menu ul li {
    width: 20%;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
  }
}

.assist {
  color: #0567F6;
}

.body {
  background: #005ADC;
}

.container-1 {
  display: flex;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-size: 50px;
  color: #FBFBFD;
  padding-top: 10%;
  padding-left: 10%;

}


h3 {
  padding: 2% 2%;
  font-size: 22px;

}

h2 {
  padding: 2% 2%;
}



.desc {
  font-size: 22px;
  color: #FBFBFD;
  padding-left: 10%;
  padding-top: 2%;
  word-spacing: 2px;
}

.box-1 {
  padding-right: 5%;
}

.desc1 {
  font-size: 16px;
  padding: 2% 2%;

}

.desc2 {
  font-size: 16px;
  padding: 2% 2%;
}


.container-2 {
  display: flex;
}

.container-2 div {
  padding: 10px;
  background-color: #FBFBFD;
  border-radius: 5px;
}


.box-3 {
  flex: 1;
  margin-left: 5%;
  margin-right: 2%;
  box-shadow: #252527 10px 10px;

}

.box-4 {
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
  box-shadow: #252527 10px 10px;
}

button {
  background-color: #252527;
  color: #FBFBFD;
  padding: 10px;
  border-radius: 5px;
  border-color: #252527;
}

button:hover {
  background-color: rgb(57, 59, 71);
}

button:active {
  background-color: #005ADC;
  box-shadow: 0 3px #252527;
  transform: translateY(1px);
  transform: translateX(1px);
  border-color: #0567F6;
  padding: auto;
}

.button-contain {
  display: flex;
  justify-content: flex-end;
}

footer {
  background: #252527;
  color: #FBFBFD;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-top: 10%;

}